<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cartes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DocEditor.styles.css" asp-append-version="true" />
    <script src="https://cdn.tiny.cloud/1/tdqxeukp07jmlrjtx1ularnb204n39xtemb8bz3hbtp04qyu/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <style>
        .navbar-custom {
            background-color: #007bff; /* Blue color */
        }

            .navbar-custom .nav-link,
            .navbar-custom .navbar-brand {
                color: white; /* Text color for links and brand */
            }

                .navbar-custom .nav-link:hover {
                    color: #dcdcdc; /* Light color on hover */
                }
    </style>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold fs-3" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/tiscircuits-1.png" alt="Gestion-cartes" style="height: 30px;" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Employes" asp-action="Index">Employes</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark fs-5" asp-area="" asp-controller="UniteDeProductions" asp-action="Index">Unite-DeProductions</a>
                            </li>
                        }
                        @if (User.IsInRole("Technicien"))
                            {
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="CarteElectroniques" asp-action="Index">Cartes-Electroniques</a>
                        </li>
                            }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <div class="left">
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact</a>
            </div>
            <div class="right">
                <div>&copy; 2024 - Cartes</div>
                <div class="info">123 Main Street, City, Country</div>
                <div class="info">Email: info@cartes.com</div>
                <div class="info">Phone: +123 456 7890</div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
