@model GestionMouvementCarte.Models.CarteElectronique

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />

<h4>CarteElectronique</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reference" />
            <div class="form-group">
                <label asp-for="Statut" class="control-label"></label>
                <input asp-for="Statut" class="form-control" />
                <span asp-validation-for="Statut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeMouvement" class="control-label"></label>
                <input asp-for="TypeMouvement" class="form-control" />
                <span asp-validation-for="TypeMouvement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAjout" class="control-label"></label>
                <input asp-for="DateAjout" class="form-control" />
                <span asp-validation-for="DateAjout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DerniereUtilisation" class="control-label"></label>
                <input asp-for="DerniereUtilisation" class="form-control" />
                <span asp-validation-for="DerniereUtilisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
